body {
    margin: 0;
    width: 1536px;
    height: 4822px;
    background: #F3F6EF;
}
.wrapper {
   width: 1555px;
height: 110px;
left: -10px;
box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.12);
}
.logo {
    position: absolute;
    width: 61px;
    height: 62px;
    left: 151px;
    top: 25px;
}
.nav {
    display: flex;
}
.nav__link {
    margin-right: 69px;
    width: 110px;
    height: 22px;
        font-family: 'Tahoma';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
          color: #2F2A37;
}
.languages {
    position: absolute;
width: 24px;
height: 22px;
left: 1324px;
top: 45px;
font-family: 'Avenir';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #2F2A37;
}
.arrow {
    position: absolute;
    left: 150%;
    right: 10.74%;
    top: 27%;
    bottom: 98.76%;
}
.edspace {
    position: absolute;
width: 434px;
height: 310px;
left: 149px;
top: 237px;
font-family: 'Avenir';
font-style: normal;
font-weight: 800;
font-size: 54px;
line-height: 115%;
color: #2F2A37;
}
.tex1 {
    position: absolute;
width: 423px;
height: 48px;
left: 149px;
top: 578px;
font-family: 'Avenir';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
color: #6E6C72;
}
.image1 {
    position: absolute;
width: 721px;
height: 374.59px;
left: 720px;
top: 296.24px;
}
.ellipse {
    position: absolute;
width: 821px;
height: 821px;
left: 1058px;
top: 77px;
background: #6BFFCA;
filter: blur(120px);
}
.button1 {
    position: absolute;
width: 245px;
height: 55px;
left: 149px;
top: 681px;
background: linear-gradient(92.02deg, #6BFFCA 13.34%, #00FF47 129.97%);
border-radius: 40px;
cursor: pointer;
}
.fon2 {
    position: absolute;
    width: 1536px;
    height: 594px;
    left: -1px;
    top: 833px;
        background: #242029; 

}
.fon3 {
    position: absolute;
width: 1536px;
height: 1170px;
left: -1px;
top: 1427px;
}
.ellipse2 {
    position: absolute;
width: 1056px;
height: 1021px;
left: -428px;
top: 1086px;
background: #6BFFCA;
filter: blur(206px);
}
.ellipse3 {
    position: absolute;
width: 1251px;
height: 1210px;
left: 981px;
top: 1600px;
background: #9E00FF;
filter: blur(182.5px);
}
.fon4 {
    position: absolute;
width: 1536px;
height: 1777px;
left: -1px;
top: 2602px;
background: #242029;
}
.title4 {
   
width: 491px;
height: 92px;
left: 521px;
top: 2701px;
font-family: 'Avenir';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 115%;
text-align: center;
color: #F3F7EF;
}
.advantages__element {
 
width: 572px;
height: 68px;
left: 723px;
top: 2938px;
background: linear-gradient(180deg, #FFFFFF -13.5%, rgba(243, 247, 239, 0) 187.91%);
box-shadow: 0px 0px 21px 7px rgba(0, 0, 0, 0.34);
backdrop-filter: blur(5.5px);
border-radius: 84px;
}
.footer { position: absolute;
    width: 1536px;
    height: 442px;
    top: 6000px;
    }